<!doctype html>
<html>

  <head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" style="font-size: small;" href="#">Holographic System Interface</a>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="sidebar-sticky pt-3">
            {% block nav_flex_column  %}
            {% endblock %}
          </div>
          <div class="row align-items-end" style="height: 50%;">
            <div class="col ml-2">
              <div class="row">
                <img src="{{ url_for('static', filename='logos/Natalnet.png') }}" class="img-thumbnail m-1"
                  width="200px" height="30px">
              </div>
              <div class="row">
                <img src="{{ url_for('static', filename='logos/ufrn-logo.png') }}" class="img-thumbnail m-1"
                  width="200px">
              </div>
              <div class="row">
                <img src="{{ url_for('static', filename='logos/capes-logo-original-fundo-claro.png') }}"
                  class="img-thumbnail m-1" width="200px">
              </div>
              <div class="row">
                <img src="{{ url_for('static', filename='logos/logo_isasi.png') }}" class="img-thumbnail m-1"
                  width="200px" height="30px">
              </div>
              <div class="row">
                <img src="{{ url_for('static', filename='logos/cnr.png') }}" class="img-thumbnail m-1" width="200px"
                  height="30px">
              </div>
            </div>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <div class="chartjs-size-monitor"
            style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand"
              style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink"
              style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
          </div>
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2" id="title-id">{% block title_content%} {% endblock %}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                {% block buttons_navigation%}
                {% endblock %}

              </div>
            </div>
          </div>
          <div class="container-fluid mb-5 card-header-changed " id="content">
            {% block content %}
            {% endblock %}
          </div>


      </div>
      </main>


    </div>
    </div>
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark ">

      <!--h5 style="color: lightyellow; font-size: small;">Developed by Andouglas Junior</h5-->

    </nav>

    {% block new_scripts%}
    {% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  </body>

</html>
