<!DOCTYPE html>
<html>

    <head>
        <script src="https://unpkg.com/konva@7.1.3/konva.min.js"></script>
        <meta charset="utf-8" />
        <title>Konva Clipping Function Demo</title>
        <style>
            body {
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #f0f0f0;
            }

        </style>
    </head>

    <body>
        <div id="container" style="border: 1px solid black; width: 500px; height: 500px;"></div>
        <script>
            var c = document.getElementById('container');
            var position = c.getBoundingClientRect();
            var width = position.width;
            var height = position.height;

            var stage = new Konva.Stage({
                container: 'container',
                width: width,
                height: height

            });

            var layer = new Konva.Layer();

            var img_global = NaN

            Konva.Image.fromURL('../static/saved_holograms/fft0.9175391527996662.png', function (image) {
                layer.add(image);
                img_global = image
                image.zIndex(0)
                image_width = image.attrs.image.width
                rate = width / image_width;
                console.log(image.width)
                var scale_x = 0
                var scale_y = 0
                if (rate < 1) {
                    scale_x = rate
                    scale_y = rate
                }
                image.setAttrs({
                    x: 0,
                    y: 0,
                    borderSize: 1,
                    scaleX: scale_x,
                    scaleY: scale_y,
                });

                image.filters([mask_crop]);
                image.cache();

                layer.draw();
            });


            var rect1 = new Konva.Rect({
                x: 20,
                y: 20,
                width: 200,
                height: 200,
                stroke: 'black',
                strokeWidth: 1,
                draggable: true,
            });

            var tr1 = new Konva.Transformer({
                nodes: [rect1],
                centeredScaling: false,
            });
            layer.add(tr1);

            function mask_crop(imageData) {
                console.log(rect1);
            }

            rect1.on('dragmove', function () {
                console.log(rect1.attrs.x, rect1.attrs.width * rect1.attrs.scaleX);
                x_ = rect1.attrs.x
                y_ = rect1.attrs.y
                width_ = rect1.attrs.width * rect1.attrs.scaleX
                height_ = rect1.attrs.height * rect1.attrs.scaleY
                var mask = Array.from(Array(img_global.attrs.image.height),_ => Array(img_global.attrs.image.height).fill(0))
                var section = mask.slice(x_, x_+width_).map(i => i.slice(y_, y_+height_));

            });

            layer.add(rect1);
            stage.add(layer);
        </script>
    </body>

</html>
