{% extends "base.html" %}
{% block title_content%} Step 5. Segmentation {% endblock %}
{% block nav_flex_column  %}

<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link disabled" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-plus-circle">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="8" x2="12" y2="16"></line>
        <line x1="8" y1="12" x2="16" y2="12"></line>
      </svg>
      Welcome <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-plus-circle">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="8" x2="12" y2="16"></line>
        <line x1="8" y1="12" x2="16" y2="12"></line>
      </svg>
      Hologram Acquisition
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-plus-circle">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="8" x2="12" y2="16"></line>
        <line x1="8" y1="12" x2="16" y2="12"></line>
      </svg>
      Processing
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-plus-circle">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="8" x2="12" y2="16"></line>
        <line x1="8" y1="12" x2="16" y2="12"></line>
      </svg>
      Reconstruction
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-plus-circle">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="8" x2="12" y2="16"></line>
        <line x1="8" y1="12" x2="16" y2="12"></line>
      </svg>
      Segmentation
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-plus-circle">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="8" x2="12" y2="16"></line>
        <line x1="8" y1="12" x2="16" y2="12"></line>
      </svg>
      Machine Learning
    </a>
  </li>
</ul>

{% endblock %}

{% block buttons_navigation %}
<a href="{{url_for('test')}}"></a><button type="button" class="btn btn-sm btn-outline-secondary">Previous</button></a>
<a href="#"></a><button onclick="next_page()" type="button" class="btn btn-sm btn-outline-secondary">Next</button></a>
{% endblock %}

{% block content %}

{% endblock %}

{% block new_scripts%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
   var slideIndex = 1;
    showSlides(slideIndex, 'slide-magnitude');
    // Next/previous controls
    function plusSlides(n, slide_id) {
      showSlides(slideIndex += n, slide_id);
    }

    // Thumbnail image controls
    function currentSlide(n, slide_id) {
      showSlides(slideIndex = n, slide_id);
    }

    function showSlides(n, slide_id) {
      var i;
      var slides = document.getElementsByClassName(slide_id);
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      slides[slideIndex-1].style.display = "block";
    }

</script>

{% endblock %}
    