{% extends "base.html" %}
{% block title_content%} Step 1. Welcome {% endblock %}
{% block nav_flex_column  %}

<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-plus-circle">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="8" x2="12" y2="16"></line>
        <line x1="8" y1="12" x2="16" y2="12"></line>
      </svg>
      Welcome <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-plus-circle">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="8" x2="12" y2="16"></line>
        <line x1="8" y1="12" x2="16" y2="12"></line>
      </svg>
      Hologram Acquisition
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-plus-circle">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="8" x2="12" y2="16"></line>
        <line x1="8" y1="12" x2="16" y2="12"></line>
      </svg>
      Processing
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-plus-circle">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="8" x2="12" y2="16"></line>
        <line x1="8" y1="12" x2="16" y2="12"></line>
      </svg>
      Reconstruction
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-plus-circle">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="8" x2="12" y2="16"></line>
        <line x1="8" y1="12" x2="16" y2="12"></line>
      </svg>
      Segmentation
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-plus-circle">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="8" x2="12" y2="16"></line>
        <line x1="8" y1="12" x2="16" y2="12"></line>
      </svg>
      Machine Learning
    </a>
  </li>
</ul>

{% endblock %}

{% block buttons_navigation %}
<!--button type="button" class="btn btn-sm btn-outline-secondary">Previous</button-->
<a href="{{url_for('hologram_acquisition')}}"><button type="button"
    class="btn btn-sm btn-outline-secondary bt-changed">Next</button></a>
{% endblock %}

{% block content %}
<p>The HSWebApp was developed to be used with the HolSys but can be used for any holographic device that acquire the
  hologram using a digital camera. This application is able to make the follow steps:</p>
<ul>
  <li><b>Acquisition:</b> The device camera plugged in the computer is accessed directly by the browser and the hologram
    can be acquired and uploaded to the server. It is also possible to use acquired holograms saved in the
    "/saved_holograms" folder. In this case, .png, .jpeg, and .bmp images and .mat file are supported.</li>
  <li><b>Processing:</b>In this step is possible to apply some image filters, like bright and contrast, to improve the
    fringes partners.</li>
  <li><b>Reconstruction: </b> Once the hologram was acquired and processed, it is possible to make its reconstruction
    with pixel size, wavelength and plane Z range parameters. Besides that, to off-axis setup, a manual spatial filter
    can be applied to isolate only the real image for the reconstruction. The reconstruction step realizes the
    propagation (using the HoloPy library modified) and the autofocusing using Tamura Coefficient technique and return
    the intensity and phase of the reconstructed hologram.
  </li>
  <li><b>Segmentation:</b> Depending on how the samples is disposed in the image, it is necessary to perform the
    separation to be inserting on the machine learning model. This is performed using Otsu algorithm and image fill.
  </li>
  <li><b>Machine Learning: </b> In this last step, the user can upload some ML models and use it to classify the test
    samples for their application. More than one model can be used in a ensemble model approach.
  </li>
</ul>
<p> The web application codes are available on <a href="https://github.com/andouglasjr/HSapplication">github</a>. To use this code locally access the <a href="https://andouglasjr.github.io/HSapplication/installation/">Get Started</a> section and to know more
  about the application access <a href="https://andouglasjr.github.io/HSapplication/">HSWebApp Doc.</a> </p>
<p>To start to use the web application click on the "Next" button on the top-right. </p>
{% endblock %}
